

.highlight {
    background-color: rgb(255, 123, 0);
}

.content-text{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-weight: 800;
    color: red ;
    font-size: 25px;
}

.table-list{
    font-weight: 600 !important;
    color: red !important;
}